// theme Color
$primary: hsl(233, 26%, 24%); // Dark blue
$secondary: hsl(136, 65%, 51%); // Lime Green
$info: hsl(192, 70%, 51%); // Bright Cyan
$success: hsl(233, 8%, 62%); // Grayish Blue
$danger: hsl(220, 16%, 96%); // Light Grayish Blue
$warning: hsl(0, 0%, 98%); // Very Light Gray
$light: hsl(0, 0%, 100%); // white