// All the SCSS Variables goes here
$font-family-base: 'Public Sans', sans-serif;
$font-size-base: 1rem;
$font-size-base-sm: 0.875rem;

// general
$transition-timing : 0.3s;

// header
$header-size: 60px;

// btn
$btn-border-radius: 20px;
$btn-padding-x: 1.25rem;
$btn-font-size: 0.875rem;